<h1>Dear Examiner,</h1>
<h4>SORRY MY FRONT END IS NOT WORKING WELL, but i have written as much code as i can in each component's typescript and html files for views 1,2,3, please refer to those. Thank you.Sorry.</h4>

<br><br><br>
<h5>Views 2 and 3 are also shown at the bottom of this page, just scroll down, in case the routing does not work.</h5>
<router-outlet></router-outlet>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

<app-place-order></app-place-order>

<br><br>
<app-confirmation></app-confirmation>