<div class="row mt-3">
  <div class="col d-flex justify-content-between align-items-center">
    <div class="fs-1 fw-bold text-primary">Menu ${{currentTotalPrice}}</div>
    <div>
      <button type="button" class="btn btn-primary" (click)="placeOrder()">
        Place Order (XXX)
      </button>
    </div>
  </div>
</div>



<!-- HTML CODE FOR MENU -->

<div *ngIf="menu$ | async as menu">
  <div *ngIf="menu.length > 0">
    <div *ngFor="let m of menu">
      <div>
        <div>
        </div>
        <div>
          <button type="button" class="btn btn-warning" (click)="removeItem(m)">REMOVE ITEM</button>
          Name: <span>{{ m.name }}</span>
          description: <span>{{ m.description }}</span>
          Quantity: <span>{{ m.description }}</span>
          <button type="button" class="btn btn-success" (click)="addItem(m)">ADD ITEM</button>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
  
</div>















<h4>SORRY MY FRONT END IS NOT WORKING WELL, but i have written as much code as i can in each component's typescript and html files, please refer to those. Thank you.</h4>
<!-- each row display a single mene item -->
<div class="row mb-2">
  <div class="col">
    <div class="menu-item">
      <div>
        <button type="button" class="btn btn-warning">
          <i class="bi bi-x-square"></i>
        </button>
      </div>
      <div class="menu-details">
        <div>Name: <span class="fw-bold"> XXX </span> </div>
        <div>Description:
          <span class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </span>
        </div>
        <div></div>
          <div class="text-danger fw-bold">Quantity: XXX</div>
      </div>
      <div class="menu-button-end">
        <button type="button" class="btn btn-success">
          <i class="bi bi-plus-circle"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col">
    <div class="menu-item">
      <div>
        <button type="button" class="btn btn-warning">
          <i class="bi bi-x-square"></i>
        </button>
      </div>
      <div class="menu-details">
        <div>Name: <span class="fw-bold"> XXX </span> </div>
        <div>Description:
          <span class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </span>
        </div>
        <div></div>
          <div class="text-danger fw-bold">Quantity: XXX</div>
      </div>
      <div class="menu-button-end">
        <button type="button" class="btn btn-success">
          <i class="bi bi-plus-circle"></i>
        </button>
      </div>
    </div>
  </div>
</div>
